In [1]:
import pandas as pd
import numpy as np
medical = pd.read_csv("/content/KaggleV2-May-2016.csv")

In [2]:
medical.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [4]:
medical = medical[medical['Age'] >= 0]

In [5]:
medical['ScheduledDay'] = pd.to_datetime(medical['ScheduledDay'])
medical['AppointmentDay'] = pd.to_datetime(medical['AppointmentDay'])

In [6]:
medical.isnull().sum().sum()

np.int64(0)

In [7]:
print("Medical Dataset Shape:", medical.shape)

Medical Dataset Shape: (110526, 14)

In [8]:
medical.to_csv("medical_cleaned.csv", index=False)